.elementor-44001 .elementor-element.elementor-element-69d602ee > .elementor-container {
  min-height: 480px;
}
.elementor-44001 .elementor-element.elementor-element-69d602ee:not(.elementor-motion-effects-element-type-background),
.elementor-44001 .elementor-element.elementor-element-69d602ee > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: transparent;
  background-image: linear-gradient(180deg, #ffffff 0%, #b8b7ad 100%);
}
.elementor-44001 .elementor-element.elementor-element-69d602ee > .elementor-background-overlay {
  opacity: 0.15;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-44001 .elementor-element.elementor-element-69d602ee {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-bc-flex-widget .elementor-44001 .elementor-element.elementor-element-2427163d.elementor-column .elementor-column-wrap {
  align-items: center;
}
.elementor-44001 .elementor-element.elementor-element-2427163d.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-44001
  .elementor-element.elementor-element-2427163d
  > .elementor-column-wrap
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 5px;
}
.elementor-44001 .elementor-element.elementor-element-2427163d > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 50px 50px 50px 50px;
}
.elementor-44001 .elementor-element.elementor-element-2427163d > .elementor-element-populated > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-44001 .elementor-element.elementor-element-222f61fa .head-title {
  color: #000000;
  font-family: "Montserrat", Sans-serif;
  font-size: 15px;
  font-weight: 500;
}
.elementor-44001 .elementor-element.elementor-element-222f61fa img {
  width: 26%;
}
.elementor-44001 .elementor-element.elementor-element-222f61fa a.elementor-button,
.elementor-44001 .elementor-element.elementor-element-222f61fa .elementor-button {
  fill: #000000;
  color: #000000;
  background-color: #d0b577;
}
.elementor-44001 .elementor-element.elementor-element-222f61fa > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: -6px -6px -6px -6px;
}
.elementor-44001 .elementor-element.elementor-element-8bce11b .head-title {
  color: #000000;
  font-family: "Montserrat", Sans-serif;
  font-size: 15px;
  font-weight: 500;
}
.elementor-44001 .elementor-element.elementor-element-8bce11b img {
  width: 33%;
}
.elementor-44001 .elementor-element.elementor-element-8bce11b a.elementor-button,
.elementor-44001 .elementor-element.elementor-element-8bce11b .elementor-button {
  fill: #000000;
  color: #000000;
  background-color: #d0b577;
}
.elementor-44001 .elementor-element.elementor-element-8bce11b > .elementor-widget-container {
  margin: 50px 0px 0px 0px;
  padding: -6px -6px -6px -6px;
}
#elementor-popup-modal-44001 .dialog-message {
  width: 800px;
  height: 480px;
  align-items: center;
}
#elementor-popup-modal-44001 {
  justify-content: center;
  align-items: center;
  pointer-events: all;
  background-color: rgba(0, 0, 0, 0.8);
}
#elementor-popup-modal-44001 .dialog-close-button {
  display: flex;
}
#elementor-popup-modal-44001 .dialog-widget-content {
  animation-duration: 0.5s;
  box-shadow: 2px 8px 23px 3px rgba(0, 0, 0, 0.2);
}
@media (max-width: 1024px) {
  .elementor-44001 .elementor-element.elementor-element-69d602ee > .elementor-container {
    min-height: 430px;
  }
  #elementor-popup-modal-44001 .dialog-message {
    width: 700px;
    height: 425px;
  }
  #elementor-popup-modal-44001 .dialog-widget-content {
    margin: 0px 0px 0px 0px;
  }
}
@media (max-width: 767px) {
  .elementor-44001 .elementor-element.elementor-element-69d602ee > .elementor-container {
    min-height: 90vh;
  }
  .elementor-44001 .elementor-element.elementor-element-69d602ee,
  .elementor-44001 .elementor-element.elementor-element-69d602ee > .elementor-background-overlay {
    border-radius: 20px 20px 20px 20px;
  }
  .elementor-44001 .elementor-element.elementor-element-69d602ee {
    padding: 0px 0px 0px 0px;
  }
  .elementor-44001 .elementor-element.elementor-element-2427163d > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
  }
  .elementor-44001 .elementor-element.elementor-element-222f61fa img {
    width: 64%;
  }
  .elementor-44001 .elementor-element.elementor-element-8bce11b img {
    width: 64%;
  }
  #elementor-popup-modal-44001 .dialog-message {
    width: 300px;
    height: 90vh;
  }
  #elementor-popup-modal-44001 .dialog-widget-content {
    border-radius: 20px 20px 20px 20px;
  }
}
